a {
  text-decoration: none;
}

body {
  font-family: poppins, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-color {
  background-color: rgb(255, 181, 101) !important;
}

.color-text a {
  color: black;
}

.banner {
  height: 50vh;
  background-color: #febd59;
}

.banner img{
  display:block;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width: 500px;
  height: 350px;
}

.promo{
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/bgcincin.jpg');
  background-size: cover;
  background-position: center;
}

.down-arow{
  text-align: center;
}

.down-arow i{
  font-size: 60px;
  color: #fff;
}

.produk .card {
  transition: .3s;
}

.produk .card:hover {
  transform: scale(1.1);
}

.produk .card .card-img-top {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/*footer*/
footer{
	background: #101010;
	padding: 20px 0;
}

.single-box h3{
  	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.single-box h2{
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

.socials i {
  	color: #fff;
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.single-box {
		margin-bottom: 50px;
	}
}
